.nopadding {
    padding: 0 !important;
}
#all {
    width: 98%;
    height: 100vh;
    margin: 65px auto auto auto;
    align-items: center;
}
.main {
    margin: auto;
    padding-top: 100px;
    align-items: center;
}
#main_adv {
    text-align: left;
    margin: 30px 10px 0 10px;
    height: auto;
}
#advance {
    padding-top: 3px;
    text-align: right;
    margin: auto;
    float: none;
    width: 400px;
    position: relative;
}
.box {
    float: center;
    width: 30%;
}
.box2 {
    float: left;
    padding: 0 0 3px 0;
}
.inner {
    background-color: #fff;
    border-style: solid;
    border-width: : 5px;
    border-color: #cbdced;
}
.outer {
    background-color: #cbdced;
    margin-bottom: 50px;
}

.sidebar {
    padding: 0;
    margin-left: 50px;
}
.panel-body {
    height: 100vh;
}
.show_result {
    height: 100vh;
    width: 30vw;
    padding: 0;
    margin: 0 0 10px 30px;
}
.result {
    margin-bottom: 20px;
}
.heading {
    background-color: #e78f25;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    padding: 0 0 0 5px;
    margin: 0 0 7px 0;
    width: 100%;
}
.summary {
    text-align: right;
    font-size: small;
    margin: 0 10px 0 0;
    padding-right: 20px;
    float: right;
}
.sort {
    padding: 0 70px 0 0;
    margin: 10px 0 10px 20px;
    text-align: right;
}
.rs_bar {
    background-color: #ebebeb;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 10px;
    font-size: 14px;
    width: 100%;
}
a.back_link {
    color: #000;
    text-decoration: underline;
}
._panel {
    text-align: center;
    margin: auto;
    display: none;
    padding: 0 0 1px 0;
    font-weight: bold;
    font-size: 12px;
}
input.search_item {
    width: 97%;
    height: 20px;
}
ul.list-unstyled {
    padding-left: 5px;
}
li {
    margin-left: 12px;
}
li>a:hover {
    text-decoration: underline;
}
p {
    font-size: 16px;
    margin: 0;
}
p>a:visited {
    color: #000;
}
p>a:link {
    text-decoration: underline;
}
p.more_detail {
    font-size: 13px;
}
p.collection {
    color: #E78E24;
    font-size: 13px;
}
img {
    margin: 0 0 0 50px;
    float: right;
    width: 60px;
    height: 80px;
}
.rs_img {
    padding: 0;
    margin: 10px;
}
.detail {
    padding: 0;
    width: 50%;
    height: 65px;
}
span.number {
    color: #777;
}
.container-fluid {
    padding: 0;
}
li.list-group-item {
    margin: 0;
    border: none;
}
div.panel-body {
    padding: 5px;
    height: auto;
}
ul {
    padding-left: 10px;
}
ul.list-group {
    margin-bottom: 7px;
}
.well.well-sm {
    margin: 0;
    padding: 3px;
}
.list-group-item {
    padding: 5px;
}
.container {
    padding: 0;
    width: 75vw;
}
.row.advance{
  margin-bottom: 7px;
}
.display{
  display: none;
}
